$primary-dark: #323232; //BandSite-Black
$primary-gray: #AFAFAF; //Silver
$primary-light: #FFFFFF; //White

$secondark-dark: #000000; //Black
$secondary-gray: #E1E1E1; //Mercury
$secondary-light: #FAFAFA; //Alabaster

$error-color: #D22D2D;