@use './breakpoints' as *;

$font-family: 'Avenir Next';

@font-face {
    font-family: $font-family;
    src: url("../assets/fonts/avenir-next-ltpro-regular.otf") format('opentype'), url("../assets/fonts/avenir-next-ltpro-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font-family;
    src: url("../assets/fonts/avenir-next-ltpro-demi.otf") format('opentype'), url("../assets/fonts/avenir-next-ltpro-demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: $font-family;
    src: url("../assets/fonts/avenir-next-ltpro-bold.otf") format('opentype'), url("../assets/fonts/avenir-next-ltpro-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

//# Font Values

//## Mobile
//Page Header
$font-pageheader-mobile: 600 #{1.5rem}/#{2rem} $font-family;
//Section Header
$font-sectionheader-mobile: 600 #{1.5rem}/#{1} $font-family;
//Subheader
$font-subheader-mobile: 600 #{0.875rem}/#{1.375rem} $font-family;
//Body
$font-body-mobile: 400 #{0.8125rem}/#{1.125rem} $font-family;
//Footer
$font-footer-mobile: 400 #{0.8125rem}/#{1.125rem} $font-family;
//Labels/Buttons
$font-labelsbuttons-mobile: 600 #{0.625rem}/#{1.25rem} $font-family;

//## Tablet/Desktop

//Page Header
$font-pageheader-tablet: 600 #{3.75rem}/#{4.25rem} $font-family;
//Section Header
$font-sectionheader-tablet: 600 #{2.25rem}/#{1} $font-family;
//Subheadder
$font-subheader-tablet: 600 #{1.5rem}/#{2rem} $font-family;
//Body
$font-body-tablet: 400 #{0.875rem}/#{1.375rem} $font-family;
//Footer
$font-footer-tablet: 400 #{0.875rem}/#{1.25rem} $font-family;
//Labels/Buttons
$font-labelsbuttons-tablet: 600 #{0.75rem}/#{1.25rem} $font-family;

//# Typography Mixins
@mixin pageheader{
    font: $font-pageheader-mobile;
    @include tablet{
        font: $font-pageheader-tablet;
    }
}

@mixin sectionheader{
    font: $font-sectionheader-mobile;
    @include tablet{
        font: $font-sectionheader-tablet;
    }
}

@mixin subheader{
    font: $font-subheader-mobile;
    @include tablet{
        font: $font-subheader-tablet;
    }
}

@mixin body{
    font: $font-body-mobile;
    @include tablet{
        font: $font-body-tablet;
    }
}

@mixin footer{
    font: $font-footer-mobile;
    @include tablet{
        font: $font-footer-tablet;
    }
}

@mixin labelsbuttons{
    font: $font-labelsbuttons-mobile;
    @include tablet{
        font: $font-labelsbuttons-tablet;
    }
}
