@use './breakpoints' as *;
@use './colors';
@use './global'; 
@use './fonts';

// Generic forms components

//# Avatars
.avatar{
    $mobile-size: 2.25rem; 
    $tablet-size: 3rem;
    
    color: transparent; //Hides alt text on firefox
    object-fit: cover;
    object-position: 20%;
    border-width: 0;
    border-color: transparent;
    border-radius: 50%;
    flex-shrink: 0;
    width: $mobile-size;
    height: $mobile-size;
    position: relative;
    
    @include tablet{
        width: $tablet-size;
        height: $tablet-size;
    }

    //Image placeholder (Covers missing image icon)
    &::before{
        content: '';
        border-radius: 50%;
        display: block;
        background-color: colors.$secondary-gray;
        position: absolute;
        inset: 0;
    }
}

.form-field{
    &__label{
        @include fonts.labelsbuttons;
        color: colors.$primary-gray;
        display: block;
    }

    &__field{
        background-color: colors.$secondary-light;
        width: 100%;
        padding: 0.75rem; 
        border: 1px solid colors.$secondary-gray;
        border-radius: 4px;
        resize: none;

        @include tablet{
            padding: 1rem; 
        }

        &:where([type="text"]){
            height: 2.25rem;
            @include tablet{
                height: 3rem;
            }
        }

        &:where(textarea){
            min-height: 6lh;
        }

        &::placeholder{
            color: colors.$primary-dark;
        }

        &:focus{
            border-color: colors.$primary-dark;
            outline: none; //Chrome adds a thick outline by default
        }
        
        &--invalid{
            border-color: colors.$error-color;
        }
    }
}

.form-submit{
    @extend .primary-cta;
}