@use './resets';
@use './colors';
@use './breakpoints' as *;
@use './units' as *;
@use './fonts';
@use './mixins';


//# Setup initial Fonts, Colors, Padding
//## Body
body{
    font: fonts.$font-body-mobile;
    color: colors.$primary-dark;
    background-color: colors.$primary-light; 

    @include tablet{
        font: fonts.$font-body-tablet;
    }
}

h4{
    font-weight: 600;
}

//## Footer
.footer{
    font: fonts.$font-footer-mobile;
    color: colors.$primary-light;
    background-color: colors.$primary-dark;
    margin: 0;
    @include tablet{
        font: fonts.$font-footer-tablet;
    }
}

//# Setup static components

//## Header
.header{
    background-color: colors.$primary-dark;
    @include mixins.flexbox(center);
    text-align: center;

    ///Figure out how to not have this be a complex selector
    &__logo-link{
        padding: $padding-2 0;
    }
    &__logo-image{
        margin: auto;
        display: block;
    }
    
    &__content{
        flex: 0 1 $maxWidth;
        padding-top: $padding-2;
        @include mixins.flexbox($direction: column);

        @include tablet{
            padding: 0;
            margin: 0 $margins_Tablet;
            flex-direction: row;
            align-items: center;
        }
    }
}
//## Main Navigation
.main-nav{
    $border-width: 0.1875rem;
    
    &__list{
        padding-top: $padding-1;
        list-style-type: none;
        display: flex;

        @include tablet{
            margin-left: 4.5rem;
            gap: $padding-8;
        }

        @include desktop{
            margin-left: $padding-9;
            gap: $padding-4;
        }
    }

    &__item{
        color: colors.$secondary-gray;
        flex: 1;

        @include desktop{
            flex: 1 0 3.9375rem;
        }

        &--active, &:hover{
            color: colors.$primary-light;
            border-bottom: $border-width solid colors.$primary-light;
        }

        &--active{
            font-weight: 600;
        }


    }

    &__link{
        display: block;
        padding-bottom: $padding-2;
        @include tablet{
            padding: $padding-4 - $border-width 0;
        }

        @include desktop{
            padding: $padding-5 - $border-width 0; 
        }
    }
}
//## Footer
.footer{
    //## Section-Container
    &__section-container{
        width: auto;
        flex: 1;
        @include mixins.flexbox($direction: column);

        @include tablet{
            flex-flow: row wrap;
            align-items: baseline;
        }
    }

    //## Heading
    &__heading{
        @include fonts.sectionheader;
        padding: 2rem 0rem 1rem 0;
        order: -2;
        
        @include tablet{
            flex: 1;
            max-width: min(16.25rem,33%);
            padding-top: 3.25rem;
        }
    }

    //## Heading
    &__logo-link{
        margin-top: 2rem;
        
        @include tablet{
            order: -1;
        }
    }

    //## Footer Contacts
    &__contact-list{
        margin-bottom: $padding-2;
        padding-top: 1.5rem;
        @include mixins.flexbox($direction: column);
        list-style-type: none;
        
        @include tablet{
            flex: 0 1 48.5rem;
            flex-direction: row;
        }
    }

    &__contact-item{
        padding-bottom: 1.5rem;
        @include mixins.common-flex-container-items(column);
        align-items: baseline;

        @include tablet{
            flex: 1 0 28%;
            margin-right: 5.5%;
            
        }
    }
    
    ///## Social Icons 
    &__social-icons{
        line-height: 0;
        flex: 1;
        order: -2; 
        display: flex;
    }

    &__icon{
        height: 1.5rem;
        padding-right: 2rem;
    }

    //## Copyright
    &__copyright{
        flex-basis: 100%;
        font-size: min(3.33vw,1em);
        padding-top: .75rem;
    }
}


//# Generic Components

///#Section Content Container
.section-container{
    max-width: $maxWidth + $margins_Tablet*2;
    margin: 0 auto;
    
    padding-left: $margins_Mobile;
    padding-right: $margins_Mobile;
    padding-bottom: $margins_Mobile;
    
    @include tablet{
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
        padding-bottom: $margins_Tablet;
    }
}



.hero{
    background-position: 0 20%;
    background-size: cover;
    padding: 0 $margins_Mobile;
    position: relative;
    @include mixins.flexbox(center,center);
    overflow: hidden;
    
    @include tablet{
        padding: 0 $margins_Tablet;
    }

    &__title{
        @include fonts.pageheader;
    }

    &__content{
        color: colors.$primary-light;
        flex: 0 1 $maxWidth;
    }
}

///Divider line
.divider{
    background-color: colors.$secondary-gray;
    border: none;
    width: 100%;
    height: 0.0625rem;
    
}

///CTA Button
.primary-cta{
    cursor: pointer;
    font-size: 0.9375rem;
    line-height: 1;
    background-color: colors.$primary-dark;
    color: colors.$primary-light;
    border-width: 0;
    border-radius: 4px;
    width: 100%; ///For mobile
    min-width: 9.375rem;
    height: 2.5rem; 
    padding: 0 2rem;
    
    @include tablet{
        width: auto;
        max-width: 100%;
    }

    &:hover{
        background-color: colors.$secondark-dark;
    }
}