@use './colors';
@use './breakpoints' as *;
@use './units' as *;
@use './fonts';
@use './mixins';

//# Resets
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:unset;
    font-style: normal;
    text-decoration: none;
}

//# Setup initial Fonts, Colors, Padding
//## Body
body{
    font: fonts.$font-body-mobile;
    color: colors.$primary-dark;
    background-color: colors.$primary-light; 

    @include tablet{
        font: fonts.$font-body-tablet;
    }
}
//## Page Header
h1{
    font: fonts.$font-pageheader-mobile;
    @include tablet{
        font: fonts.$font-pageheader-tablet;
    }

}
//## Section Header
h2{
    font: fonts.$font-sectionheader-mobile;
    padding: $pad-before-headlines-mobile 0 $pad-after-headlines-h2-mobile 0;
    width: 100%;

    @include tablet{
        font: fonts.$font-sectionheader-tablet;
        padding: $pad-before-headlines-tablet 0 $pad-after-headlines-tablet 0;
    }

    @include desktop{
        padding-bottom: $pad-after-headlines-adjusted-desktop;
    }
}
//## Subheader
h3, .subheader{
    font: fonts.$font-subheader-mobile;
    padding: $pad-before-headlines-mobile 0 $pad-after-headlines-h3-mobile 0;

    @include tablet{
        font: fonts.$font-subheader-tablet;
        padding-top: $pad-before-headlines-tablet;
        padding-bottom: 20px;
    }
}
//## Subheader variant, 1em just demi-bold
h4{
    font-weight: 600;
}

//## Footer
.footer{
    font: fonts.$font-footer-mobile;
    color: colors.$primary-light;
    background-color: colors.$primary-dark;
    @include tablet{
        font: fonts.$font-footer-tablet;
    }
}

//## Logo
.logo{
    line-height: 0; //Workaround for whitespace text within that ends up adding space on the bottom
}

//# Setup static components

//## Header
.header{
    background-color: colors.$primary-dark;
    @include tablet{
        display: flex;
        justify-content: center;
    }

    .logo{
        padding: $padding-2 0;// ($padding-3 - $padding-1) 0;
        // padding-top: $padding-3;
    }
    
    &__content{
        max-width: $maxWidth;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        flex-grow: 1;
        padding-top: $padding-2;

        @include tablet{
            flex-direction: row;
            align-items: center;
            padding-top:0;
            margin-left: $margins_Tablet;
            margin-right: $margins_Tablet;
        }

        @include desktop{
            margin: auto;
        }
    }
}
//## Main Navigation
.main-nav{
    color: colors.$secondary-gray;
    
    &__list{
        padding-top: $padding-1;
        list-style-type: none;
        display: flex;

        @include tablet{
            margin-left: 4.5rem; //72px;
            gap: $padding-8;
        }

        @include desktop{
            margin-left: $padding-9;
            gap: $padding-5;
        }
    }

    &__item{
        $border-width: 0.1875rem; //3px;
        width: 100%;
        padding-bottom: $padding-2;
        flex-grow: 1;

        &--active, &:hover{
            color: colors.$primary-light;
            border-bottom: $border-width solid colors.$primary-light;
        }

        &--active{
            // font-weight: bold; ///Style guide says bold dut looks more like demi
            font-weight: 600;
        }

        @include tablet{
            width: unset;
            padding: $padding-4 - $border-width 0;
        }

        @include desktop{
            padding: $padding-5 - $border-width 0;
        }
    }
}
//## Footer
.footer{
    // color: colors.$primary-light;
    // background-color: colors.$primary-dark;
    display: flex;
    justify-content: center;

    &__heading{
        padding-bottom: 0;
        max-width: 220px;
        order: -2;
    }

    &__content{
        @include mixins.common-content-container;
        @include mixins.common-flex-container(column);
        width: auto;
        flex: 1;

        @include tablet{
            flex-flow: row wrap;
            align-items: baseline;
            & > *{
                flex: 1;
            }
        }
    }

    .logo{
        margin-top: $padding-5;
        @include tablet{
            margin: 0;
            order: -1;
            text-align: right;
        }
    }

    &__icon-list{
        margin-bottom: $padding-2;
        display: flex;
        gap: $padding-5;
        order: -2;        
    }

    &__icon{
        height: 24px;
    }

    &__contact-list{
        @include mixins.common-flex-container-items(column);
        list-style-type: none;
        margin-bottom: $padding-2;
        @include tablet{
            flex-direction: row;
        }
    }

    &__contact-item{
        padding-bottom: $padding-2; //8px;
        max-width: 232px;
        @include mixins.common-flex-container-items(column);
        justify-content: center;
        align-items: baseline;
        flex: 1;
    }

    &__copyright{
        flex: 100%;
        font-size: .925em;
    }
}