@use './resets';
@use './colors';
@use './breakpoints' as *;
@use './units' as *;
@use './fonts';
@use './mixins';


//# Setup initial Fonts, Colors, Padding
//## Body
body{
    font: fonts.$font-body-mobile;
    color: colors.$primary-dark;
    background-color: colors.$primary-light; 

    @include tablet{
        font: fonts.$font-body-tablet;
    }
}
//## Page Header
.page-header{
    font: fonts.$font-pageheader-mobile;
    @include tablet{
        font: fonts.$font-pageheader-tablet;
    }

}
//## Section Header
.section-header{
    font: fonts.$font-sectionheader-mobile;
    line-height: 1; ///No more extra line height for section headings
    padding-top: 1.5rem;//24px
    padding-bottom: 1rem;//16px

    

    @include tablet{
        font: fonts.$font-sectionheader-tablet;
        line-height: 1;

        padding-top: 3rem;//48px
        padding-bottom: 2.25rem;//36px
    }

    @include desktop{
        padding-bottom: 3rem;//48px
    }
}
//## Subheader
.subheader{
    font: fonts.$font-subheader-mobile;
    padding: $pad-before-headlines-mobile 0 ($pad-after-headlines-mobile + 0.375rem) 0;

    //Remove line height spacing before and after
    margin-top: calc(0.7em - 0.5lh); 
    margin-bottom: calc(0.25em - 0.5lh);


    @include tablet{
        font: fonts.$font-subheader-tablet;
        padding-top: $pad-before-headlines-tablet;

        //~28px for tablet and ~32px for desktop
        padding-bottom: calc(1.25rem + 1vw);
    }

    
}

// //## Subheader variant, 1em just demi-bold
.smallheader{
    font-weight: 600;
}

.label{
    font: fonts.$font-labelsbuttons-mobile;
    font-weight: 600;
    @include tablet{
        font: fonts.$font-labelsbuttons-tablet;
        font-weight: 600;
    }

    
}

//## Footer
.footer{
    font: fonts.$font-footer-mobile;
    color: colors.$primary-light;
    background-color: colors.$primary-dark;
    margin: 0;
    @include tablet{
        font: fonts.$font-footer-tablet;
    }
}

//## Logo
.logo{
    &__image{
        display: block;    
    }
}

//# Setup static components

//## Header
.header{
    background-color: colors.$primary-dark;
    display: flex;
    justify-content: center;
    text-align: center;

    ///Figure out how to not have this be a complex selector
    &__logo-link{
        padding: $padding-2 0;
    }
    &__logo-image{
        display: block;
        margin: auto;
    }
    
    &__content{
        flex: 0 1 $maxWidth;
        padding-top: $padding-2;
        @include mixins.flexbox($direction: column);

        @include tablet{
            padding: 0;
            margin: 0 $margins_Tablet;
            flex-direction: row;
            align-items: center;
        }
    }
}
//## Main Navigation
.main-nav{
    $border-width: 0.1875rem; //3px;
    
    &__list{
        padding-top: $padding-1;
        list-style-type: none;
        display: flex;

        @include tablet{
            margin-left: 4.5rem; //72px;
            gap: $padding-8; //56px
        }

        @include desktop{
            margin-left: $padding-9;
            gap: $padding-5;
        }
    }

    &__item{
        color: colors.$secondary-gray;
        flex: 1;

        &--active, &:hover{
            color: colors.$primary-light;
            border-bottom: $border-width solid colors.$primary-light;
        }

        &--active{
            font-weight: 600;
        }
    }

    &__link{
        display: block;
        padding-bottom: $padding-2;
        @include tablet{
            padding: $padding-4 - $border-width 0;
        }

        @include desktop{
            padding: $padding-5 - $border-width 0; 
        }
    }
}
//## Footer
.footer{
    //## Section-Container
    &__section-container{
        width: auto;
        flex: 1;
        @include mixins.flexbox($direction: column);
        gap: 1.5rem;

        @include tablet{
            flex-flow: row wrap;
            align-items: baseline;
            row-gap: 3rem;
        }

        & > *{
            @include tablet{
                flex: 1;
            }
        }
    }

    //## Heading
    &__heading{
        line-height: .7;
        padding-top: min(10vw,3.25rem); //52px
        padding-bottom: 0;
        max-width: 13.75rem; //220px
        order: -2;
    }

    //## Heading
    &__logo-link{
        margin-top: $padding-5;
        
        @include tablet{
            margin: 0 0 0 auto;
            flex:0;
            order: -1;
        }
    }

    //## Footer Contacts
    &__contact-list{
        margin-bottom: $padding-2;
        @include mixins.common-flex-container-items(column);
        list-style-type: none;
        
        gap: 1.5rem;

        @include tablet{
            flex-basis: 100%;
            flex-direction: row;
        }
    }

    &__contact-item{
        max-width: 14.5rem; //232px
        flex: 1;
        @include mixins.common-flex-container-items(column);
        justify-content: center;
        align-items: baseline;
    }
    
    ///## Social Icons 
    &__social-icons{
        line-height: 0;
        display: flex;
        gap: $padding-5; //32px
        order: -2; 
    }

    &__icon{
        height: 1.5rem; //24px
    }

    //## Copyright
    &__copyright{
        flex-basis: 100%;
        font-size: min(3.33vw,1em);
    }
}


//# Generic Components

///#Section Content Container
.section-container{
    max-width: $maxWidth + $margins_Tablet*2;
    margin: 0 auto;
    
    padding-left: $margins_Mobile;
    padding-right: $margins_Mobile;
    padding-bottom: $margins_Mobile;
    
    @include tablet{
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
        padding-bottom: $margins_Tablet;
    }
}



.hero{
    background-position: bottom;
    background-size: cover;
    padding: 0 $margins_Mobile;
    position: relative;
    @include mixins.flexbox(center,center);
    overflow: hidden;
    
    @include tablet{
        padding: 0 $margins_Tablet;
    }

    &__content{
        color: colors.$primary-light;
        flex: 0 1 $maxWidth;
    }
}

///Divider line
.divider{
    background-color: colors.$secondary-gray;
    border: none;
    width: 100%;
    height: 0.0625rem;//1px
    
}

///CTA Button
.primary-cta{
    font-size: 0.9375rem;
    background-color: colors.$primary-dark;
    color: colors.$primary-light;
    border-width: 0;
    border-radius: 4px;
    width: 100%; ///For mobile
    min-width: 9.375rem;//150px
    height: 2.5rem; ///40px
    padding: 0 2rem;//32px
    
    @include tablet{
        width: auto;
    }

    &:hover{
        background-color: colors.$secondark-dark;
    }
}