@use './breakpoints' as *;
@use './units';


@mixin flexbox($justify-content:null,$align-items:null,$direction: null, $wrap:null){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
    flex-wrap: $wrap;
}


@mixin common-flex-container($rowOrColumn: row){
    display: flex;
    flex-direction: $rowOrColumn;
    gap: units.$pad-between-components-mobile;
    @include tablet{
        gap: units.$pad-between-components-tablet;
    }
}

/// @param {type} $rowOrColumn-tablet [null] - Alternate tablet flex-direction (if change is required)
@mixin common-flex-container-items($rowOrColumn: row, $rowOrColumn-tablet: null){
    display: flex;
    flex-direction: $rowOrColumn;
    gap: units.$gutters_Mobile;
    @include tablet{
        flex-direction: $rowOrColumn-tablet;
        gap: units.$gutters_Tablet;
    }
}



