@use './colors';


//# Resets
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: unset;
    font-style: normal;
    font-family: unset; ///Textarea overrides by default
    text-decoration: none;
}
