$space-unit: 0.5rem; //8px;

$margins_Desktop: auto;

$columns_Desktop: 3.9375rem; //63px;    // Haven't actually figured out how to utilize this yet
$gutters_Desktop: 1.5rem; //24px;

$margins_Tablet: 2.25rem; //36px;
$columns_Tablet: auto;
$gutters_Tablet: 1.5rem; //24px;

$margins_Mobile: 1rem; //16px;
$columns_Mobile: auto;
$gutters_Mobile: 1rem; //16px;


$maxWidth: 1020px;


//Padding increments
$padding-1: 0.25rem; //4px;
$padding-2: 0.5rem; //8px;
$padding-3: 1rem; //16px;
$padding-4: 1.5rem; //24px;
$padding-5: 2rem; //32px;
$padding-6: 2.5rem; //40px;
$padding-7: 3rem; //48px;
$padding-8: 3.5rem; //56px;
$padding-9: 4rem; //64px;
$padding-10: 5rem; //80px;


// $pad-before-headlines-mobile: 24px; //Style guide says 24px but looks more like 22px
$pad-before-headlines-mobile: 1.5rem; //24px //1.375rem; //22px;
$pad-after-headlines-mobile: 1rem; //16px;
$pad-between-components-mobile: 1rem; //16px;


//Style guided says 16px, but due to line height it's slightly off
// $pad-after-headlines-h2-mobile: .5rem; //8px;
$pad-after-headlines-h2-mobile: 1.125rem; //18px

// $pad-after-headlines-h3-mobile: .75rem; //12px;
// $pad-after-headlines-h3-mobile: 1.375rem; //22px



// $pad-before-headlines-tablet: 3rem; //48px; //Style guide says 48px but looks more like 50px
$pad-before-headlines-tablet: 3rem; //48px //3.125rem; //50px;
// $pad-after-headlines-tablet: 2.25rem; //36px; //Style guide says 36px, but due to line height it's slightly off
$pad-after-headlines-tablet:  1.5rem; //24px;
$pad-between-components-tablet: 2.25rem; //36px;

///It seems to be temporarily less for tablet, then more again for desktop
$pad-after-headlines-adjusted-desktop: 2.25rem; //36px;


