$margins_Desktop: auto;
$gutters_Desktop: 1.5rem;

$margins_Tablet: 2.25rem;
$columns_Tablet: auto;
$gutters_Tablet: 1.5rem;

$margins_Mobile: 1rem;
$columns_Mobile: auto;
$gutters_Mobile: 1rem;

$maxWidth: 63.75rem;

$pad-before-headlines-mobile: 1.5rem;
$pad-after-headlines-mobile: 1rem;
$pad-between-components-mobile: 1rem;

$pad-before-headlines-tablet: 3rem;
$pad-after-headlines-tablet:  1.5rem;
$pad-between-components-tablet: 2.25rem;



