@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #323232;
  background-color: #FFFFFF;
  margin: 0;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

a, address, cite {
  color: unset;
  font-style: normal;
  text-decoration: none;
}

.header, .footer {
  color: #FFFFFF;
  background-color: #323232;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1, h2 {
    font-size: 60px;
    line-height: 68px;
  }
}

h2 {
  font-weight: 600; /**These are supposed to be 700, but they definetely look more like 600 in the mockup**/
  padding: 22px 0 14px 0;
  width: 100%;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 44px;
    padding: 50px 0 24px 0;
  }
}
@media (min-width: 1280px) {
  h2 {
    padding-bottom: 36px;
  }
}

h3, .subheader, .about__quote q {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 22px 0 14px 0;
}
@media (min-width: 768px) {
  h3, .subheader, .about__quote q {
    font-size: 24px;
    line-height: 32px;
    padding-top: 48px;
    padding-bottom: 20px;
  }
}

h4 {
  font-weight: 600;
}

.label, button {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer {
    line-height: 20px;
  }
}
.logo {
  line-height: 0;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }
}
.header .logo {
  padding: 16px 0;
}
.header__content {
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .header__content {
    flex-direction: row;
    align-items: center;
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (min-width: 1280px) {
  .header__content {
    margin: auto;
  }
}

.main-nav {
  margin: 0;
}
.main-nav ul {
  list-style-type: none;
  display: flex;
}
@media (min-width: 768px) {
  .main-nav ul {
    margin-left: 72px;
    gap: 56px;
  }
}
@media (min-width: 1280px) {
  .main-nav ul {
    margin-left: 64px;
    gap: 32px;
  }
}
.main-nav__item {
  width: 100%;
  margin: 0;
  padding-bottom: 8px;
  flex-grow: 1;
}
.main-nav__item--active {
  font-weight: bold;
  border-bottom: 3px solid #FFFFFF;
}
@media (min-width: 768px) {
  .main-nav__item {
    width: unset;
    padding: 21px 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    padding: 29px 0;
  }
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__header {
  padding-bottom: 0;
  max-width: 220px;
}
@media (min-width: 768px) {
  .footer__header {
    order: -2;
  }
}
.footer__content {
  max-width: 1020px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: auto;
  flex: 1;
  position: relative;
}
@media (min-width: 768px) {
  .footer__content {
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .footer__content {
    gap: 36px;
  }
}
@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer__content > * {
    flex: 1;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    margin: auto;
  }
}
.footer .logo {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .footer .logo {
    margin: 0;
    order: -1;
    text-align: right;
  }
}
.footer__icon-list {
  height: auto;
  margin-bottom: 8px;
  display: flex;
  gap: 32px;
}
@media (min-width: 768px) {
  .footer__icon-list {
    order: -2;
  }
}
.footer__icon {
  height: 24px;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  width: 100%;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .footer__contact-list {
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .footer__contact-list {
    flex-direction: row;
  }
}
.footer__contact-item {
  padding-bottom: 8px;
  max-width: 232px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: baseline;
  flex: 1;
}
@media (min-width: 768px) {
  .footer__contact-item {
    gap: 24px;
  }
}
.footer__copyright {
  flex-basis: 100%;
  width: 100%;
  font-size: 10px;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 14px;
  }
}

.intro {
  color: #FFFFFF;
  width: 100%;
  max-height: 630px;
  aspect-ratio: 1.7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.intro__content {
  max-width: 1020px;
  margin-left: 16px;
  margin-right: 16px;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .intro__content {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (min-width: 1280px) {
  .intro__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.hero__image {
  display: block;
  width: 100%;
}
.hero::after {
  content: ".";
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  inset: 0;
  display: block;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content-wrapper {
  max-width: 1020px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about__content-wrapper {
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .about__content-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
.about__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .about__header {
    gap: 36px;
  }
}
.about__quote q {
  display: block;
  padding: 0 0 4px 0;
}
@media (min-width: 768px) {
  .about__quote q {
    padding: 0 0 12px 0;
  }
}
.about__quote figcaption {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  .about__quote figcaption {
    font-size: 15px;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .about__content {
    max-width: 83%;
  }
}
.about__image {
  width: 100%;
  aspect-ratio: 1.845;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 768px) {
  .about__image {
    -o-object-position: center;
       object-position: center;
  }
}
.about .bio__title {
  color: #000000;
}
.about .bio__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .about .bio__content {
    gap: 24px;
  }
}
@media (min-width: 768px) {
  .about .bio__content {
    flex-direction: row;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}
.photo-gallery__content {
  max-width: 1020px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .photo-gallery__content {
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .gallery {
    gap: 24px;
  }
}
.gallery__image {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__image {
    width: calc(33% - 14px);
  }
}/*# sourceMappingURL=bio.css.map */