@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  text-decoration: none;
}

body {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #323232;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  body {
    font: 400 0.875rem/1.375rem "Avenir Next";
  }
}

h1 {
  font: 700 1.5rem/2rem "Avenir Next";
}
@media (min-width: 768px) {
  h1 {
    font: 700 3.75rem/4.25rem "Avenir Next";
  }
}

h2 {
  font: 600 1.5rem/2rem "Avenir Next";
  padding: 1.375rem 0 0.5rem 0;
  width: 100%;
}
@media (min-width: 768px) {
  h2 {
    font: 600 2.25rem/2.75rem "Avenir Next";
    padding: 3.125rem 0 1.5rem 0;
  }
}
@media (min-width: 1280px) {
  h2 {
    padding-bottom: 2.25rem;
  }
}

h3, .subheader, .about__quote q {
  font: 600 0.875rem/1.375rem "Avenir Next";
  padding: 1.375rem 0 0.75rem 0;
}
@media (min-width: 768px) {
  h3, .subheader, .about__quote q {
    font: 600 1.5rem/2rem "Avenir Next";
    padding-top: 3.125rem;
    padding-bottom: 20px;
  }
}

h4 {
  font-weight: 600;
}

.footer {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #FFFFFF;
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer {
    font: 400 0.875rem/1.25rem "Avenir Next";
  }
}

.logo {
  line-height: 0;
}

.header {
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
  }
}
.header .logo {
  padding: 0.5rem 0;
}
.header__content {
  max-width: 1020px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex-grow: 1;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .header__content {
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .header__content {
    margin: auto;
  }
}

.main-nav {
  color: #E1E1E1;
}
.main-nav__list {
  padding-top: 0.25rem;
  list-style-type: none;
  display: flex;
}
@media (min-width: 768px) {
  .main-nav__list {
    margin-left: 4.5rem;
    gap: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    margin-left: 4rem;
    gap: 2rem;
  }
}
.main-nav__item {
  width: 100%;
  padding-bottom: 0.5rem;
  flex-grow: 1;
}
.main-nav__item--active, .main-nav__item:hover {
  color: #FFFFFF;
  border-bottom: 0.1875rem solid #FFFFFF;
}
.main-nav__item--active {
  font-weight: 600;
}
@media (min-width: 768px) {
  .main-nav__item {
    width: unset;
    padding: 1.3125rem 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__item {
    padding: 1.8125rem 0;
  }
}

.footer {
  display: flex;
  justify-content: center;
}
.footer__header {
  padding-bottom: 0;
  max-width: 220px;
  order: -2;
}
.footer__content {
  max-width: 1020px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  flex: 1;
}
@media (min-width: 768px) {
  .footer__content {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__content {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .footer__content {
    gap: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__content {
    flex-flow: row wrap;
    align-items: baseline;
  }
  .footer__content > * {
    flex: 1;
  }
}
.footer .logo {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer .logo {
    margin: 0;
    order: -1;
    text-align: right;
  }
}
.footer__icon-list {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 2rem;
  order: -2;
}
.footer__icon {
  height: 24px;
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__contact-list {
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__contact-list {
    flex-direction: row;
  }
}
.footer__contact-item {
  padding-bottom: 0.5rem;
  max-width: 232px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  flex: 1;
}
@media (min-width: 768px) {
  .footer__contact-item {
    gap: 1.5rem;
  }
}
.footer__copyright {
  flex: 100%;
  font-size: 0.925em;
}

.intro {
  color: #FFFFFF;
  width: 100%;
  max-height: 630px;
  aspect-ratio: 1.72;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.intro__content {
  max-width: 1020px;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .intro__content {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .intro__content {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.hero__image {
  width: 100%;
  display: block;
}
.hero::after {
  content: ".";
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  inset: 0;
  display: block;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__content-wrapper {
  max-width: 1020px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .about__content-wrapper {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about__content-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
.about__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about__header {
    gap: 2.25rem;
  }
}
.about__quote {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 680px;
}
.about__quote q {
  display: block;
  padding: 0;
}
@media (min-width: 768px) {
  .about__quote q {
    font-size: 1.4375rem;
  }
}
.about__quote figcaption {
  font-weight: 600;
  word-spacing: 0.2em;
}
@media (min-width: 768px) {
  .about__content {
    max-width: 83%;
  }
}
.about__image {
  width: 100%;
  aspect-ratio: 1.845;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 768px) {
  .about__image {
    -o-object-position: center;
       object-position: center;
  }
}
.about .bio__title {
  color: #000000;
}
.about .bio__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about .bio__content {
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about .bio__content {
    flex-direction: row;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}
.photo-gallery__content {
  max-width: 1020px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__content {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    margin-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__content {
    margin-left: auto;
    margin-right: auto;
  }
}
.photo-gallery .gallery {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
}
@media (min-width: 768px) {
  .photo-gallery .gallery {
    gap: 1.5rem;
  }
}
.photo-gallery .gallery__item {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .photo-gallery .gallery__item {
    flex: 1 1 30%;
  }
}
.photo-gallery .gallery__image {
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=bio.css.map */