$primary-dark: #323232; //BandSite-Black
$primary-grey: #AFAFAF; //Silver
$primary-light: #FFFFFF; //White

$secondark-dark: #000000; //Black
$secondark-grey: #E1E1E1; //Mercury
$secondary-light: #FAFAFA; //Alabaster

