@use './colors';
@use './breakpoints' as *;
@use './units' as *;
@use './fonts';

// @forward './colors';
// @forward './breakpoints';
// @forward './units';
// @forward './fonts';

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Avenir Next';
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    
    color: colors.$primary-dark;
    background-color: colors.$primary-light; //Redundant, temp maybe
    margin: 0;

    @include tablet{
        font-size: 14px;
        // font-weight: 400; //Redundant, temp maybe
        line-height: 22px;
    }
}

a, address,cite{
    color:unset;
    font-style: normal;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.header, .footer{
    color: colors.$primary-light;
    background-color: colors.$primary-dark; //BandSite-Black
    margin: 0;
}

section, .footer{
    // padding: $space-unit*2;

    // @include tablet{
    //     padding: $space-unit*4.5; 
    // }
}



//Page Header
h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    @include tablet{
        font-size: 60px;
        line-height: 68px;
    }

}
//Section Header
h2{
    @extend h1;
    font-weight: 600; /**These are supposed to be 700, but they definetely look more like 600 in the mockup**/

    padding: $pad-before-headlines-adjusted-mobile 0 $pad-after-headlines-adjusted-mobile 0;
    @include tablet{
        font-size: 36px;
        // font-weight: 700;
        line-height: 44px;
        padding: $pad-before-headlines-adjusted-tablet 0 $pad-after-headlines-adjusted-tablet 0;
    }

    @include desktop{
        padding-bottom: $pad-after-headlines-adjusted-desktop;
    }
}
//Subheader
h3, .subheader{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;

    padding: $pad-before-headlines-adjusted-mobile 0 $pad-after-headlines-adjusted-mobile 0;

    @include tablet{
        font-size: 24px;
        line-height: 32px;

        padding-top: $pad-before-headlines-tablet;
        padding-bottom: 20px;
    }
}
//Subheader, same size just demi-bold
h4{
    font-weight: 600;
}

//labels & buttons
.label,button{
    font-size: 12px;
    font-weight: bold 700;
    line-height: 20px;
}

@include tablet{
    .footer{
        line-height: 20px;
    }
}

.logo{
    line-height: 0;
    padding: $space-unit*2 0;
}

.header{
    // padding: 0 $space-unit*2;
    // @include marginProp(padding-left);
    // @include marginProp(padding-right);
    
    &__content{
        max-width: $maxWidth;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        text-align: center;



        @include tablet{
            flex-direction: row;
            align-items: center;
            margin-left: $margins_Tablet;
            margin-right: $margins_Tablet;

            // * {
            //     margin-left: $space-unit*2;
            //     margin-right: $space-unit*2;
            // }
        }

        @include desktop{
            margin: auto;
        }
    }
}

.main-nav{
    margin: 0;
    ul{
        list-style-type: none;
        display: flex;

        @include tablet{
            margin-left: 72px;
            gap: 56px;
        }

        @include desktop{
            margin-left: 64px;
            gap: 32px;
        }


    }

    &__item{
        $border-width: 3px;

        width: 100%;
        margin: 0;
        padding-bottom: $padding-2;
        flex-grow: 1;

        &--active{
            font-weight: bold;
            border-bottom: $border-width solid colors.$primary-light;
        }

        @include tablet{
            width: unset;
            padding: $padding-4 - $border-width 0;
            
        }

        @include desktop{
            padding: $padding-5 - $border-width 0;
        }
    }
}




.footer{
    // padding: $space-unit*2;
    
    // flex-direction: column;
    
    padding-top: $space-unit; //Workaround for preventing margin-collapse

    &__content{
        @extend .content-container;
        position: relative;
        display: flex;
        flex-direction: column;
        
        // margin: $space-unit*2;
        // padding: $space-unit*2;

        gap: $gutters_Mobile;
        
        @include tablet{
            // margin: $space-unit*4;
            // padding: $space-unit*4.5;
            
            flex-direction: row;
            flex-wrap: wrap;
            
            ///$gutters_Tablet is 24px, but it looks a lot more like 32px
            ///gap: $gutters_Tablet;
            gap: 32px; 
            
        }

        @include desktop{
            // gap: 64px;
            margin: auto; 
        }
    }

    h2{
        // margin-top: 8px;
        margin-bottom: 0;
        // margin-right: 24px;
        // width: 220px;
        // order: -2;
    }
    p{
        margin: 0;
        padding: 0;
    }

    .logo{
        padding: 0;
        @include tablet{
            position: absolute;
            top:48px;
            right:36px;
            // top:40px;
            // right:36px;
            // order: -1;
            // align-self: flex-end;
        }
    }

    &__icon-list{
        // height: 24px;
        height: auto;
        // margin-top: 16px;
        // margin-bottom: 32px;
        
        margin-bottom: 8px;
        display: flex;
        gap: 32px;
        align-items: center;
        // order: -2;

        @include tablet{
            margin-top: 8px;
        }

        // justify-content: space-between;
    }

    &__icon{
        height: 24px;
    }

    &__contact-list{
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        h4:first-child{
            margin: 0;
            // margin-bottom: 0;
        }
        h4 + h4{
            margin-top: 0;
        }

        @include tablet{
            margin-bottom: 16px;
            flex-direction: row;
            // gap: 24px;
            gap: 48px;
        }

        @include desktop{
            gap:80px; 
        }
    }

    &__copyright{
        @extend .label;

    }
    
}


.content-container{
    max-width: $maxWidth;
    // margin: 16px;
    // padding: $margins_Mobile;
    padding-left: $margins_Mobile;
    padding-right: $margins_Mobile;
    // margin: auto;

    @include tablet{
        // margin: 36px;
        // padding: $margins_Tablet;
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
    }
    @include desktop{
        // padding: $margins_Tablet $margins_Tablet;
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
        // padding: 0 36px;
        margin: 0 $margins_Desktop;
    }
}

@mixin page-content-layout{
    max-width: $maxWidth;
    padding-left: $margins_Mobile;
    padding-right: $margins_Mobile;
    
    @include tablet{
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
        
    }
    @include desktop{
        padding-left: $margins_Tablet;
        padding-right: $margins_Tablet;
        // padding: 0 36px;
        margin-left: $margins_Desktop;
        margin-right: $margins_Desktop;
    }
}