@use './partials/global' as *;
@use './partials/colors';
@use './partials/breakpoints' as *;
@use './partials/units';
@use './partials/mixins';

@use './partials/forms';

.hero{
    &--bio{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/images/hero-bio.jpg");
        height: min(58.5vw, 39.375rem /*630px*/);
    }
}

//# About Section
.about{
    &__section-header{
        align-self: flex-start;
        @include desktop{
            padding-bottom: 2.25rem;
        }
    }

    &__section-container{
        @include mixins.flexbox($align-items:center,$direction:column);
    }

    &__content{
        @include tablet{
            max-width: 83%; 
        }
    }
}

///# About Header , top help of the about section before the bio
.about-header{
    @include mixins.common-flex-container(column);
    
    &__image{
        //Very cool, though there may be performance considerations
        @keyframes scrollImage {
            25%{
                object-position: top;
            }
            100%{
                object-position: bottom;
            }
        }

        width: 100%;
        aspect-ratio: 1.845;
        object-fit: cover;
        object-position: bottom;
        animation: scrollImage 10s ease-in-out 5s infinite;
    }

    &__quote-container{
        display: flex;
        flex-direction: column;
        gap: units.$padding-3;
        max-width: 42rem;
    }

    &__quote-text{
        @extend .subheader;
        display: block;
        padding: 0;

        @include tablet{
            font-size: 1.4rem;
            line-height: 1.9rem;
        }
    }

    &__quote-cite{
        font-weight: 600;
        word-spacing: .2em;
        @include tablet{
            font-size: 1.1em;
        }
    }
}


//# About Bio
.bio{
    &__title{
        color: colors.$secondark-dark;
    }
    &__content{
        @include mixins.common-flex-container-items(column,$rowOrColumn-tablet: row);
    }
}


///# Gallery Section
.photo-gallery{
    background-color: colors.$secondary-light; 

    &__section-header{
        @include desktop{
            padding-bottom: 2.5rem;
        }
    }

    &__list{
        list-style-type: none;
        @include mixins.common-flex-container-items;
        flex-wrap: wrap;
    }

    &__item{
        flex: 1 1 100%;
        @include tablet{
            flex: 1 1 30%;
        }
    }

    &__image{
        max-width: 100%;
        display: block;

        //Effects
        filter:grayscale(1);
        transition: filter 1s ease-out;
        
        &:hover{
            filter: grayscale(0);
        }
    }
}



//# Comments Section
.comments-section{

    &__section-header{
        @include desktop{
            padding-bottom: 2.25rem;
        }
    }

    //## Section Content Container
    &__container{
        margin: auto;
        @include mixins.flexbox($direction: column);

        @include tablet{
            max-width: 36rem;//576px
        }
        @include desktop{
            max-width: 31rem;//496px ///It actually gets thinner on desktop
        }
        
    }
    &__divider{
        @extend .divider;
        margin-top: 0.625rem;//10px
        margin-bottom: 1rem;//16px

        @include tablet{
            margin-top: 1.125rem;//18px
            margin-bottom: 1.625rem;//26px
        }

        ///Except no bottom margin for the last one
        &:last-child{
            margin-bottom: 0;
        }
    }
}

 //## Comment Form
 .comment-form{
    margin-bottom: .25rem;
    @include mixins.flexbox($align-items:flex-start);
    gap: 1rem;

    &__avatar{
        margin-top: 1.5em;
    }

    //### Comment Form Content (right)
    &__content{
        flex-grow: 1;
        @include mixins.flexbox($direction: column);
    }

    &__comment-field{
        padding-top: 1.25rem;//$vertical-gap-tablet;
        padding-bottom: .8rem;
        @include tablet{
            padding-bottom: 1rem;//$vertical-gap-tablet;
        }
    }

    &__form-submit{
        align-self: flex-end;
    }
}

//## Comment
.comment{
    @include mixins.flexbox($align-items: flex-start);
    gap: 1rem;
    
    ///### Comment Content (right) 
    &__content{
        flex-grow: 1;
        @include mixins.flexbox(space-between,$wrap:wrap);
        gap: 1rem;
    }
    
    ///### Commentname
    &__name{
        height: 1em; 
    }

    ///### Comment timestamp
    &__timestamp{
        color: colors.$primary-gray;
        height: 1em; 
    }

    //### Comment text
    &__text{
        flex: 100%;
    }
}