@use './partials/global' as *;
@use './partials/colors';
@use './partials/breakpoints' as *;
@use './partials/units';
@use './partials/mixins';

///Moving to global
// .hero{
//     height: min(58.5vw, 39.375rem /*630px*/);
//     padding: 0 units.$margins_Mobile;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
    

//     @include tablet{
//         padding: 0 units.$margins_Tablet;
//     }

//     &__image{
//         width: 100%;
//         position: absolute;
//         inset: auto auto 0 0;
//         z-index: -1;
//     }
//     //Darken overlay
//     &::after{
//         content: '';
//         background-color: colors.$primary-dark;
//         opacity: .5;
//         position: absolute;
//         inset: 0;
//         z-index: -1;
//     }
//     &__title{
//         color: colors.$primary-light;
//         flex: 0 1 units.$maxWidth;
//     }
// }

//# About Section
.about{
    @include mixins.flex-column-center;

    ///TODO, simplify this layout using a similar design to the intro
    &__content-wrapper{
        @include mixins.common-content-container;
        @include mixins.flex-column-center;
    }

    &__content{
        @include tablet{
            max-width: 83%;
        }
    }

    ///## Header , top help of the about section before the bio
    .about-header{
        @include mixins.common-flex-container(column);
        &__image{
            //Very cool, though there may be performance considerations
            @keyframes scrollImage {
                25%{
                    object-position: top;
                }
                100%{
                    object-position: bottom;
                }
            }

            width: 100%;
            aspect-ratio: 1.845;
            object-fit: cover;
            object-position: bottom;
            animation: scrollImage 10s ease-in-out 5s infinite;
        }
    
        &__quote{
            display: flex;
            flex-direction: column;
            gap: units.$padding-3;
            max-width: 42rem;

            q{
                @extend .subheader;
                display: block;
                padding: 0;
    
                @include tablet{
                    font-size: 1.4rem;
                    line-height: 1.9rem;
                }
            }
    
            figcaption{
                font-weight: 600;
                word-spacing: .2em;
                @include tablet{
                    font-size: 1.1em;
                }
            }
        }
    }
    
    //## Bio
    .bio{
        &__title{
            color: colors.$secondark-dark;
        }
        &__content{
            @include mixins.common-flex-container-items(column);
            @include tablet{
                flex-direction: row;
            }
        }
    }
}
///# Gallery Section
.photo-gallery{
    @include mixins.flex-column-center;
    background-color: colors.$secondary-light; 

    &__content{
        @include mixins.common-content-container;
    }

    &__list{
        list-style-type: none;
        @include mixins.common-flex-container-items;
        flex-wrap: wrap;
    }

    &__item{
        flex: 1 1 100%;
        @include tablet{
            //This is the way to go, the ideal flex strategy. Ideally we should try to do something like this for the footer as well.
            flex: 1 1 30%;
        }
    }

    &__image{
        max-width: 100%;
        display: block;

        //Effects
        filter:grayscale(1);
        transition: filter 1s ease-out;
        
        &:hover{
            filter: grayscale(0);
        }
    }
}


///There's an opportunity for this type of placeholder class to be implemented universally once we work out the exact rules
%section{
    padding: 0 units.$margins_Mobile units.$margins_Mobile units.$margins_Mobile;

    @include tablet{
        padding: 0 units.$margins_Tablet units.$margins_Tablet units.$margins_Tablet;
    }

    & > *{
        max-width: units.$maxWidth; 
        margin: auto;
    }
}

//# Comments Section
.comments-section{
    $vertical-gap-mobile: 1rem;
    $vertical-gap-tablet: 1.5rem;

    @extend %section;

    //## Section Content Container
    &__container{
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: $vertical-gap-mobile;

        @include tablet{
            max-width: 576px;
            gap: $vertical-gap-tablet;
        }
    }

    //## Avatars
    .avatar{
        $mobile-size: 2.25rem; //36px
        $tablet-size: 3rem; //48px

        background-color: gray;
        border-radius: 50%;
        flex-shrink: 0;
        width: $mobile-size;
        height: $mobile-size;
        position: relative;

        @include tablet{
            width: $tablet-size;
            height: $tablet-size;
        }

        ///Image placeholder
        &::before{
            content: '';
            background-color: colors.$secondary-gray;
            position: absolute;
            inset: 0;
        }
    }

    //## Comment Form
    .comment-form{
        $horizontal-gap: 1rem;

        display: flex;
        align-items: flex-start;
        gap: $horizontal-gap;

        //### Comment Form Content (right)
        &__content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: $vertical-gap-tablet;
        }
        
        ///### Comment Form Field Containers
        &__field{
            label{
                display: block;
                ///Move to global
                color: colors.$primary-gray;
            }
            input,textarea{
                $padding-mobile : 0.75rem; //12px
                $padding-tablet : 1rem; //12px

                width: 100%;
                padding: $padding-mobile; 
                border: 1px solid colors.$secondary-gray;
                border-radius: 4px;
                resize: none;

                &::placeholder{
                    color: colors.$primary-dark;
                }

                &:focus{
                    border-color: colors.$primary-dark;
                    outline: none; ///Chrome adds a thick outline by default
                }

                ///Might have to do this differently
                &.invalid{
                    border-color: colors.$error-color;
                }

                @include tablet{
                    padding: $padding-tablet;
                }
            }
        }

        //### Submit Button
        input[type="submit"]{
            align-self: flex-end;

            @extend .primary-cta;
            // Moved to global
            // background-color: colors.$primary-dark;
            // color: colors.$primary-light;
            // border-width: 0;
            // border-radius: 4px;
            // width: 100%; ///For mobile
            // height: 40px; ///40px height always
            // padding: 0 32px;

            // &:hover{
            //     background-color: colors.$secondark-dark;
            // }

            // @include tablet{
            //     width: auto;
            // }
        }
    }

    //## Comment
    .comment{
        $horizontal-gap: 1rem;
        $vertical-gap: 1rem; ///Possibly needs line height tweaking
        
        display: flex;
        align-items: flex-start;
        gap: $horizontal-gap;
        
        ///### Comment Content (right) 
        &__content{
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $vertical-gap;
        }
        
        &__name{
            height: 1em; ///My latest genius fix for the line height problem
        }

        ///### Comment timestamp
        &__timestamp{
            color: colors.$primary-gray;
            height: 1em; ///My latest genius fix for the line height problem
        }

        //### Comment text
        &__text{
            flex: 100%;
        }
    }
}