*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  font-family: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-regular.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-demi.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-bold.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #323232;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  body {
    font: 400 0.875rem/1.375rem "Avenir Next";
  }
}

.subheader {
  font: 600 0.875rem/1.375rem "Avenir Next";
  padding: 1.5rem 0 1.375rem 0;
  margin-top: calc(0.7em - 0.5lh);
  margin-bottom: calc(0.25em - 0.5lh);
}
@media (min-width: 768px) {
  .subheader {
    font: 600 1.5rem/2rem "Avenir Next";
    padding-top: 3rem;
    padding-bottom: calc(1.25rem + 1vw);
  }
}

.smallheader {
  font-weight: 600;
}

.label {
  font: 700 0.625rem/1.25rem "Avenir Next";
  font-weight: 600;
}
@media (min-width: 768px) {
  .label {
    font: 700 0.75rem/1.25rem "Avenir Next";
    font-weight: 600;
  }
}

.footer {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #FFFFFF;
  background-color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .footer {
    font: 400 0.875rem/1.25rem "Avenir Next";
  }
}

.logo__image {
  display: block;
}

.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__logo-link {
  padding: 0.5rem 0;
}
.header__logo-image {
  display: block;
  margin: auto;
}
.header__content {
  flex: 0 1 63.75rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header__content {
    padding: 0;
    margin: 0 2.25rem;
    flex-direction: row;
    align-items: center;
  }
}

.main-nav__list {
  padding-top: 0.25rem;
  list-style-type: none;
  display: flex;
}
@media (min-width: 768px) {
  .main-nav__list {
    margin-left: 4.5rem;
    gap: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    margin-left: 4rem;
    gap: 1.5rem;
  }
}
.main-nav__item {
  color: #E1E1E1;
  flex: 1;
}
@media (min-width: 1280px) {
  .main-nav__item {
    flex: 1 0 3.9375rem;
  }
}
.main-nav__item--active, .main-nav__item:hover {
  color: #FFFFFF;
  border-bottom: 0.1875rem solid #FFFFFF;
}
.main-nav__item--active {
  font-weight: 600;
}
.main-nav__link {
  display: block;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 1.3125rem 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__link {
    padding: 1.8125rem 0;
  }
}

.footer__section-container {
  width: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__section-container {
    flex-flow: row wrap;
    align-items: baseline;
  }
}
.footer__heading {
  font: 600 1.5rem/1 "Avenir Next";
  padding: 2rem 0rem 1rem 0;
  order: -2;
}
@media (min-width: 768px) {
  .footer__heading {
    font: 600 2.25rem/1 "Avenir Next";
  }
}
@media (min-width: 768px) {
  .footer__heading {
    flex: 1;
    max-width: min(16.25rem, 33%);
    padding-top: 3.25rem;
  }
}
.footer__logo-link {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__logo-link {
    order: -1;
  }
}
.footer__contact-list {
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
@media (min-width: 768px) {
  .footer__contact-list {
    flex: 0 1 48.5rem;
    flex-direction: row;
  }
}
.footer__contact-item {
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}
@media (min-width: 768px) {
  .footer__contact-item {
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__contact-item {
    flex: 1 0 28%;
    margin-right: 5.5%;
  }
}
.footer__social-icons {
  line-height: 0;
  flex: 1;
  order: -2;
  display: flex;
}
.footer__icon {
  height: 1.5rem;
  padding-right: 2rem;
}
.footer__copyright {
  flex-basis: 100%;
  font-size: min(3.33vw, 1em);
  padding-top: 0.75rem;
}

.section-container {
  max-width: 68.25rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .section-container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.hero {
  background-position: bottom;
  background-size: cover;
  padding: 0 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}
.hero__title {
  font: 600 1.5rem/2rem "Avenir Next";
}
@media (min-width: 768px) {
  .hero__title {
    font: 600 3.75rem/4.25rem "Avenir Next";
  }
}
.hero__content {
  color: #FFFFFF;
  flex: 0 1 63.75rem;
}

.divider, .comments-section__divider {
  background-color: #E1E1E1;
  border: none;
  width: 100%;
  height: 0.0625rem;
}

.primary-cta, .form-submit {
  font-size: 0.9375rem;
  background-color: #323232;
  color: #FFFFFF;
  border-width: 0;
  border-radius: 4px;
  width: 100%;
  min-width: 9.375rem;
  height: 2.5rem;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .primary-cta, .form-submit {
    width: auto;
  }
}
.primary-cta:hover, .form-submit:hover {
  background-color: #000000;
}

.avatar {
  background-color: gray;
  border-radius: 50%;
  flex-shrink: 0;
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
}
@media (min-width: 768px) {
  .avatar {
    width: 3rem;
    height: 3rem;
  }
}
.avatar::before {
  content: "";
  background-color: #E1E1E1;
  position: absolute;
  inset: 0;
}

.form-field__label {
  color: #AFAFAF;
  display: block;
}
.form-field__field:where([type=text], textarea) {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  resize: none;
}
.form-field__field:where([type=text], textarea)::-moz-placeholder {
  color: #323232;
}
.form-field__field:where([type=text], textarea)::placeholder {
  color: #323232;
}
.form-field__field:where([type=text], textarea):focus {
  border-color: #323232;
  outline: none;
}
@media (min-width: 768px) {
  .form-field__field:where([type=text], textarea) {
    padding: 1rem;
  }
}
.form-field__field:where([type=text]) {
  height: 2.25rem;
}
@media (min-width: 768px) {
  .form-field__field:where([type=text]) {
    height: 3rem;
  }
}
.form-field__field:where(textarea) {
  min-height: 6lh;
}
.form-field__field--invalid {
  border-color: #D22D2D;
}

.hero--bio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero-bio.jpg");
  height: min(58.5vw, 39.375rem);
}

.about__section-header {
  font: 600 1.5rem/1 "Avenir Next";
  align-self: flex-start;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .about__section-header {
    font: 600 2.25rem/1 "Avenir Next";
  }
}
@media (min-width: 768px) {
  .about__section-header {
    padding: 3.25rem 0 1.75rem;
  }
}
@media (min-width: 1280px) {
  .about__section-header {
    padding-bottom: 2.25rem;
  }
}
.about__section-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about__content {
    max-width: 83%;
  }
}

.about-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .about-header {
    gap: 2.25rem;
  }
}
.about-header__image {
  width: 100%;
  aspect-ratio: 1.845;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  animation: scrollImage 10s ease-in-out 5s infinite;
}
@keyframes scrollImage {
  25% {
    -o-object-position: top;
       object-position: top;
  }
  100% {
    -o-object-position: bottom;
       object-position: bottom;
  }
}
.about-header__quote-container {
  display: flex;
  flex-direction: column;
  max-width: 42rem;
}
.about-header__quote-text {
  font: 600 0.875rem/1.375rem "Avenir Next";
  display: block;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .about-header__quote-text {
    font-size: 1.4rem;
    line-height: 1.9rem;
    padding-bottom: 0.5rem;
  }
}
.about-header__quote-cite {
  font-weight: 600;
  word-spacing: 0.2em;
}
@media (min-width: 768px) {
  .about-header__quote-cite {
    font-size: 1.1em;
  }
}

.bio__title {
  font: 600 0.875rem/1.375rem "Avenir Next";
  color: #000000;
  padding: 1.5rem 0 0.8125rem;
}
@media (min-width: 768px) {
  .bio__title {
    font: 600 1.5rem/2rem "Avenir Next";
  }
}
@media (min-width: 768px) {
  .bio__title {
    padding: 3rem 0 1.25rem;
  }
}
@media (min-width: 1280px) {
  .bio__title {
    padding-bottom: 2rem;
  }
}
.bio__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .bio__content {
    flex-direction: row;
    gap: 1.5rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery__section-header {
  font: 600 1.5rem/1 "Avenir Next";
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__section-header {
    font: 600 2.25rem/1 "Avenir Next";
  }
}
@media (min-width: 768px) {
  .photo-gallery__section-header {
    padding: 3rem 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__section-header {
    padding-bottom: 2.5rem;
  }
}
.photo-gallery__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .photo-gallery__list {
    gap: 1.5rem;
  }
}
.photo-gallery__item {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    flex: 1 1 30%;
  }
}
.photo-gallery__image {
  max-width: 100%;
  display: block;
  filter: grayscale(1);
  transition: filter 1s ease-out;
}
.photo-gallery__image:hover {
  filter: grayscale(0);
}

.comments-section__section-header {
  font: 600 1.5rem/1 "Avenir Next";
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .comments-section__section-header {
    font: 600 2.25rem/1 "Avenir Next";
  }
}
@media (min-width: 768px) {
  .comments-section__section-header {
    padding: 3rem 0 2.25rem;
  }
}
.comments-section__container {
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .comments-section__container {
    max-width: 36rem;
  }
}
@media (min-width: 1280px) {
  .comments-section__container {
    max-width: 31rem;
  }
}
.comments-section__divider {
  margin-top: 0.625rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .comments-section__divider {
    margin-top: 1.125rem;
    margin-bottom: 1.625rem;
  }
}
.comments-section__divider:last-child {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.comment-form__avatar {
  margin-top: 1.5em;
}
.comment-form__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.comment-form__comment-field {
  padding-top: 1.25rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .comment-form__comment-field {
    padding-bottom: 1rem;
  }
}
.comment-form__form-submit {
  align-self: flex-end;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.comment__content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.comment__name {
  height: 1em;
}
.comment__timestamp {
  color: #AFAFAF;
  height: 1em;
}
.comment__text {
  flex: 100%;
}/*# sourceMappingURL=bio.css.map */