@use './partials/global';
@use './partials/breakpoints' as *;
@use './partials/units';
@use './partials/colors';
@use './partials/mixins';


.hero{
    $padding-block-mobile: 2rem; //32px
    $padding-block-tablet: 3.75rem; //60px
    $padding-top-desktop: 12.5rem; 
    $padding-bottom-desktop: 14.75rem; 

    $gap-mobile: 1rem; //16px
    $gap-tablet: 3.75rem; //60px

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../assets/images/hero-shows.jpg");
    background-position: bottom;
    background-size: cover;
    min-height: 40vw;

    
    ///Sassify all this better
    &--shows{
        &__subheader{
            ///This element might be a candidate for our height reset fix
            padding-top: 0;
        }

        &__text-container{
            flex: 0 1 min(75%,32rem);
            @include desktop{
                flex: 0 1 30rem;
            }
        }

        &__song-container{
            flex: 0 1 max(40%,26.25);
            aspect-ratio: 3;
        }
        &__song-frame{
            display: block; ///Removes whitespace
        }
    }

    &__content{
        &--shows{
            padding-block: $padding-block-mobile;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 1rem;
            
            @include tablet{
                padding-block: $padding-block-tablet;
                gap: $gap-tablet;
            }
    
            @include desktop{
                // padding-block: $padding-block-desktop;
                padding-top: $padding-top-desktop;
                padding-bottom: $padding-bottom-desktop;
                
            }
        }
    }
}





.shows-section{
    @include mixins.flexbox(center);

    &__section-header{
        width: auto;
        padding-bottom: .5rem;
        margin-left: units.$margins_Mobile;

        @include tablet{
            margin-left: units.$margins_Tablet - 1.125rem; // ( - 18px)
        }
        @include desktop{
            margin-left: 0;
        }
    }

    &__content-container{
        flex: 0 1 units.$maxWidth;// + 2.25rem;
        margin-bottom: 1rem; //16px

        @include mixins.flexbox(space-between,baseline,$wrap:wrap);
        
        
        @include tablet{
            margin: 0 1.125rem 1.125rem 1.125rem; ///18px
        }
        @include desktop{
            margin-bottom: 2.25rem; //36 px
        }
    }
}

.shows-table{
    @include mixins.flexbox($direction: column);
    width: 100%;
    max-width: 50.4375rem;
    margin-right: -1rem;

    &__column-header,&__cell-header{
        @extend .smallheader;
        color: colors.$primary-gray;
    }

    &__head,&__row{
        padding: 1rem;
        gap: 0.5rem;

        > * {
            flex: 1;

            @include tablet{
                flex: 1 1 9.375rem; //150px
            }

            &:first-child{
                @include desktop{
                    flex:1.5 0 30%;
                }
            }
            &:last-child{
                flex-grow: 0;
            }
        }
    }

    &__head{
        display: none;
        @include tablet{
            display: flex;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
    }

    &__row{
        display: flex;
        flex-direction: column;
        align-items: stretch;

        padding: 1rem;
        &--selected{
            background-color: colors.$secondary-gray;
        }
        &:hover:not(&--selected){
            background-color: colors.$secondary-light;
        }

        @include tablet{
            flex-direction: row;
            align-items: center;
        }
    }

    &__cell{
        &:first-child{
            font-weight: 600;
        }
    }

    &__cell-header{
        // @extend .smallheader;
        @extend .label;
        padding-bottom: .25rem;
        @include tablet{
            display: none;
        }
    }

    &__button{
        @extend .primary-cta;
        white-space: nowrap;
        line-height: 1;

        margin-top: .5rem;
        @include tablet{
            margin-top: 0;
        }
    }
}