@use './partials/global';
@use './partials/breakpoints' as *;
@use './partials/units';
@use './partials/colors';
@use './partials/mixins';


.hero{
    $padding-block-mobile: 2rem; //32px
    $padding-block-tablet: 3.75rem; //60px
    $padding-top-desktop: 12.5rem; 
    $padding-bottom-desktop: 14.75rem; 

    $gap-mobile: 1rem; //16px
    $gap-tablet: 3.75rem; //60px

    ///Sassify all this better
    &--shows{

        &__subheader{
            ///This element might be a candidate for our height reset fix
            padding-top: 0;
        }
    }

    &__content{
        &--shows{
            padding-block: $padding-block-mobile;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 1rem;
            
            .hero__text-container{
                flex: 0 1 32rem;
                @include desktop{
                    flex: 0 1 30rem;
                }
            }

            .hero__song-container{
                flex: 0 1 max(40%,420px);
                aspect-ratio: 3;
                
                iframe{
                    display: block; ///Removes whitespace
                }
            }
            
            @include tablet{
                padding-block: $padding-block-tablet;
                gap: $gap-tablet;
            }
    
            @include desktop{
                // padding-block: $padding-block-desktop;
                padding-top: $padding-top-desktop;
                padding-bottom: $padding-bottom-desktop;
                
            }
        }
    }
}





.shows-section{

    display: flex;
    justify-content: center;

    &__section-header{
        width: auto;
        // padding-top: 32px;
        padding-bottom: 8px;
        margin-left: units.$margins_Mobile;

        @include tablet{
            margin-left: units.$margins_Tablet - 1.125rem; // ( - 18px)
        }
        @include desktop{
            margin-left: 0;
        }
    }

    &__content-container{
        flex: 0 1 units.$maxWidth;// + 2.25rem;

        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        
        margin-bottom: 1rem;
        @include tablet{
            margin: 0 1.125rem 1.125rem 1.125rem; ///18px
        }
        @include desktop{
            margin-bottom: 2.25rem;
        }
    }
}







.shows-table{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 807px;
    margin-right: -1rem;

    &__column-header,&__cell-header{
        @extend .smallheader;
        color: colors.$primary-gray;
    }

    &__head,&__row{
        padding: 16px;
        // gap: 16px;
        gap: 8px;

        > * {
            flex: 1;

            @include tablet{
                flex: 1 1 150px;
                // &:last-child{
                //     flex: 0 1 150px;
                // }
            }

            &:first-child{
                @include desktop{
                    flex:1.5 0 30%;
                }
            }
            &:last-child{
                flex-grow: 0;
            }

            @include desktop{
                // &:
            }
        }
    }

    &__head{
        display: none;
        @include tablet{
            display: flex;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
    }

    &__row{
        display: flex;
        flex-direction: column;
        align-items: stretch;

        padding: 16px;
        &--selected{
            background-color: colors.$secondary-gray;
        }
        &:hover:not(&--selected){
            background-color: colors.$secondary-light;
        }

        @include tablet{
            flex-direction: row;
            align-items: center;
        }
    }

    &__cell{
        &:first-child{
            font-weight: 600;
        }
    }

    &__cell-header{
        // @extend .smallheader;
        @extend .label;
        padding-bottom: .25rem;
        @include tablet{
            display: none;
        }
    }

    &__button{
        @extend .primary-cta;
        white-space: nowrap;
        line-height: 1;

        margin-top: .5rem;
        @include tablet{
            margin-top: 0;
        }
    }
}