@use './partials/global';
@use './partials/breakpoints' as *;
@use './partials/units';
@use './partials/colors';

.hero{
    ///Sassify all this better
    &--shows{
        $padding-block-mobile: 2rem; //32px
        $padding-block-tablet: 3.75rem; //60px
        $padding-block-desktop: 15.125rem; //60px
        $gap-mobile: 1rem; //16px
        $gap-tablet: 3.75rem; //60px

        height: unset;

        h3{
            ///This element might be a candidate for our height reset fix
            padding-top: 0;
        }
        

        & .hero__content{
            padding-block: $padding-block-mobile;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 1rem;
            
            .hero__text-container{
                flex: 0 1 min(75%, 520px);
            }

            .hero__song-container{
                flex: 0 1 max(40%,420px);
                aspect-ratio: 3;
                
                iframe{
                    display: block; ///Removes whitespace
                }
            }
            
            @include tablet{
                padding-block: $padding-block-tablet;
                gap: $gap-tablet;
            }
    
            @include desktop{
                padding-block: $padding-block-desktop;
            }
        }
    }
}





.shows-section{
    // padding: 0 units.$margins_Mobile units.$margins_Mobile units.$margins_Mobile;
    // h2{
    //     width: auto;
    // }
    // display: flex;
    // justify-content: space-between;
    // align-items: baseline;
    // flex-wrap: wrap;
    

    // @include tablet{
    //     padding: 0 units.$margins_Tablet units.$margins_Tablet units.$margins_Tablet;
    // }
    // max-width: units.$maxWidth;
    // margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: units.$maxWidth;
    

    h2{
        width: auto;
        margin-left: units.$margins_Mobile;

        @include tablet{
            margin-left: units.$margins_Tablet - 1.125rem; // ( - 18px)
        }
        @include desktop{
            margin-left: 0;
        }
    }

    margin-bottom: 1rem;
    @include tablet{
        margin: 0 1.125rem 1.125rem 1.125rem; ///18px
    }
    @include desktop{
        margin-inline: auto;
    }
}







.shows-table{
    display: flex;
    flex-direction: column;
    // gap: 16px;
    width: 100%;
    max-width: 807px;

    .divider{
        ///Update on that, actually the rows just have padding (confirmed with hover effect demo)
        // ///There dividers are wider than their container
        // position: relative;
        // width: calc(100% + 32px);
        // left: 50%;
        // transform: translate(-50%,0%);
    }

    &__column-header,&__cell-header{
        color: colors.$primary-gray;
    }

    &__head,&__row{
        padding: 16px;
        gap: 16px;
        > * {
            flex: 100%;
        }
    }

    &__head{
        display: none;
        @include tablet{
            display: flex;
        }
    }

    &__body{
        display: flex;
        flex-direction: column;
        // gap: 16px; ///It's not gap, the rows have padding
    }

    &__row{
        display: flex;
        flex-direction: column;
        align-items: stretch;

        padding: 16px;
        &--selected{
            background-color: colors.$secondary-gray;
        }
        &:hover:not(&--selected){
            background-color: colors.$secondary-light;
        }
        

        @include tablet{
            flex-direction: row;
            align-items: center;
        }
    }

    &__cell{
        &:first-child{
            font-weight: 600;
        }
    }

    &__cell-header{
        @include tablet{
            display: none;
        }
    }

    &__button{
        @extend .primary-cta;
    }



    @include tablet{
        // &__head,&__row{
        //     padding: 36px;
        // }
        // margin-inline: 18px;
    }
}