*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  font-family: unset;
  text-decoration: none;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-regular.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-demi.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next-ltpro-bold.otf") format("opentype"), url("../assets/fonts/avenir-next-ltpro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #323232;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  body {
    font: 400 0.875rem/1.375rem "Avenir Next";
  }
}

.page-header {
  font: 600 1.5rem/2rem "Avenir Next";
}
@media (min-width: 768px) {
  .page-header {
    font: 600 3.75rem/4.25rem "Avenir Next";
  }
}

.section-header {
  font: 600 1.5rem/2rem "Avenir Next";
  line-height: 1;
  padding-top: 24px;
  padding-bottom: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .section-header {
    font: 600 2.25rem/2.75rem "Avenir Next";
    line-height: 1;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .section-header {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.subheader {
  font: 600 0.875rem/1.375rem "Avenir Next";
  padding: 1.5rem 0 1.375rem 0;
  margin-top: calc(0.7em - 0.5lh);
  margin-bottom: calc(0.25em - 0.5lh);
}
@media (min-width: 768px) {
  .subheader {
    font: 600 1.5rem/2rem "Avenir Next";
    padding-top: 3rem;
    padding-bottom: calc(1.25rem + 1vw);
  }
}

.smallheader, .shows-table__column-header, .shows-table__cell-header {
  font-weight: 600;
}

.label, .shows-table__cell-header {
  font: 700 0.625rem/1.25rem "Avenir Next";
  font-weight: 600;
}
@media (min-width: 768px) {
  .label, .shows-table__cell-header {
    font: 700 0.75rem/1.25rem "Avenir Next";
    font-weight: 600;
  }
}

.footer {
  font: 400 0.8125rem/1.125rem "Avenir Next";
  color: #FFFFFF;
  background-color: #323232;
  margin: 0;
}
@media (min-width: 768px) {
  .footer {
    font: 400 0.875rem/1.25rem "Avenir Next";
  }
}

.logo__image {
  display: block;
}

.header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__logo-link {
  padding: 0.5rem 0;
}
.header__logo-image {
  display: block;
  margin: auto;
}
.header__content {
  flex: 0 1 63.75rem;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .header__content {
    padding: 0;
    margin: 0 2.25rem;
    flex-direction: row;
    align-items: center;
  }
}

.main-nav__list {
  padding-top: 0.25rem;
  list-style-type: none;
  display: flex;
}
@media (min-width: 768px) {
  .main-nav__list {
    margin-left: 4.5rem;
    gap: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .main-nav__list {
    margin-left: 4rem;
    gap: 2rem;
  }
}
.main-nav__item {
  color: #E1E1E1;
  flex: 1;
}
.main-nav__item--active, .main-nav__item:hover {
  color: #FFFFFF;
  border-bottom: 0.1875rem solid #FFFFFF;
}
.main-nav__item--active {
  font-weight: 600;
}
.main-nav__link {
  display: block;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .main-nav__link {
    padding: 1.3125rem 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__link {
    padding: 1.8125rem 0;
  }
}

.footer__section-container {
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__section-container {
    flex-flow: row wrap;
    align-items: baseline;
    row-gap: 3rem;
  }
  .footer__section-container > * {
    flex: 1;
  }
}
.footer__heading {
  line-height: 0.7;
  padding-top: min(10vw, 3.25rem);
  padding-bottom: 0;
  max-width: 13.75rem;
  order: -2;
}
.footer__logo-link {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__logo-link {
    margin: 0 0 0 auto;
    flex: 0;
    order: -1;
  }
}
.footer__contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  margin-bottom: 0.5rem;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .footer__contact-list {
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__contact-list {
    flex-basis: 100%;
    flex-direction: row;
  }
}
.footer__contact-item {
  max-width: 14.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
  flex: 1;
}
@media (min-width: 768px) {
  .footer__contact-item {
    gap: 1.5rem;
  }
}
.footer__social-icons {
  line-height: 0;
  display: flex;
  gap: 2rem;
  order: -2;
}
.footer__icon {
  height: 1.5rem;
}
.footer__copyright {
  flex-basis: 100%;
  font-size: min(3.33vw, 1em);
}

.section-container {
  max-width: 68.25rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .section-container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.hero {
  padding: 0 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 2.25rem;
  }
}
.hero__image {
  width: 100%;
  position: absolute;
  inset: auto auto 0 0;
  z-index: -1;
}
.hero__content {
  color: #FFFFFF;
  flex: 0 1 63.75rem;
}
.hero::after {
  content: "";
  background-color: #323232;
  opacity: 0.5;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.divider {
  background-color: #E1E1E1;
  border: none;
  width: 100%;
  height: 1px;
}

.primary-cta, .shows-table__button {
  font-size: 0.9375rem;
  background-color: #323232;
  color: #FFFFFF;
  border-width: 0;
  border-radius: 4px;
  width: 100%;
  min-width: 150px;
  height: 40px;
  padding: 0 32px;
}
.primary-cta:hover, .shows-table__button:hover {
  background-color: #000000;
}
@media (min-width: 768px) {
  .primary-cta, .shows-table__button {
    width: auto;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/hero-shows.jpg");
  background-position: bottom;
  background-size: cover;
  min-height: 40vw;
}
.hero--shows__subheader {
  padding-top: 0;
}
.hero--shows__text-container {
  flex: 0 1 min(75%, 32rem);
}
@media (min-width: 1280px) {
  .hero--shows__text-container {
    flex: 0 1 30rem;
  }
}
.hero--shows__song-container {
  flex: 0 1 40%;
  aspect-ratio: 3;
}
.hero--shows__song-frame {
  display: block;
}
.hero__content--shows {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hero__content--shows {
    padding-block: 3.75rem;
    gap: 3.75rem;
  }
}
@media (min-width: 1280px) {
  .hero__content--shows {
    padding-top: 12.5rem;
    padding-bottom: 14.75rem;
  }
}

.shows-section {
  display: flex;
  justify-content: center;
}
.shows-section__section-header {
  width: auto;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .shows-section__section-header {
    margin-left: 1.125rem;
  }
}
@media (min-width: 1280px) {
  .shows-section__section-header {
    margin-left: 0;
  }
}
.shows-section__content-container {
  flex: 0 1 63.75rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .shows-section__content-container {
    margin: 0 1.125rem 1.125rem 1.125rem;
  }
}
@media (min-width: 1280px) {
  .shows-section__content-container {
    margin-bottom: 2.25rem;
  }
}

.shows-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50.4375rem;
  margin-right: -1rem;
}
.shows-table__column-header, .shows-table__cell-header {
  color: #AFAFAF;
}
.shows-table__head, .shows-table__row {
  padding: 1rem;
  gap: 0.5rem;
}
.shows-table__head > *, .shows-table__row > * {
  flex: 1;
}
@media (min-width: 768px) {
  .shows-table__head > *, .shows-table__row > * {
    flex: 1 1 9.375rem;
  }
}
@media (min-width: 1280px) {
  .shows-table__head > *:first-child, .shows-table__row > *:first-child {
    flex: 1.5 0 30%;
  }
}
.shows-table__head > *:last-child, .shows-table__row > *:last-child {
  flex-grow: 0;
}
.shows-table__head {
  display: none;
}
@media (min-width: 768px) {
  .shows-table__head {
    display: flex;
  }
}
.shows-table__body {
  display: flex;
  flex-direction: column;
}
.shows-table__row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
}
.shows-table__row--selected {
  background-color: #E1E1E1;
}
.shows-table__row:hover:not(.shows-table__row--selected) {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .shows-table__row {
    flex-direction: row;
    align-items: center;
  }
}
.shows-table__cell:first-child {
  font-weight: 600;
}
.shows-table__cell-header {
  padding-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .shows-table__cell-header {
    display: none;
  }
}
.shows-table__button {
  white-space: nowrap;
  line-height: 1;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .shows-table__button {
    margin-top: 0;
  }
}/*# sourceMappingURL=shows.css.map */